@import "./utils/variables";
@import "./base/normalize";
@import "./components/container";
@import "./components/page-header";
@import "./components/main_hero";
@import "./components/buttons";
@import "./components/main-features";
@import "./components/main-works";
@import "./components/main-team";
@import "./components/main-clients";
@import "./components/portfolio";
@import "./components/footer";
@import "./components/modals";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $bcg-white;
  color: $main-lightgrey-text;
  font-family: Roboto, sans-serif;
  margin: 0;

  &.modal-open {
    overflow: hidden;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section-title {
  color: $main-grey-text;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;

  @media screen and (min-width: 768px) {
    font-size: 36px;
  }
}
