.hero {
  position: relative;
  background-image: url(../images/hero.jpeg);
  background-color: #c4c4c4;
  text-align: center;
  height: 400px;
  margin-bottom: 60px;

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__title {
    width: 480px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    color: $white-text;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}
