.header .nav {
  position: relative;
  height: 60px;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: $main-black-text;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  &:hover {
    color: $accent-color;
  }
  &-first {
    color: $accent-color;
  }
}

.header .nav {
  height: 80px;
}

.icons-svg:hover,
.icons-svg:focus {
  fill: $accent-color;
}

.menu-container {
  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: $bcg-white;
    z-index: 100;
    padding-left: 40px;

    &.is-open {
      display: block;
      // height: auto;
      // // z-index: 0;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
  }
}

.site-nav {
  // margin-bottom: 150px;
  @media screen and (min-width: 768px) {
    display: flex;
    margin: 0;
  }
}

.site-nav {
  &__item + &__item {
    @media screen and (min-width: 768px) {
      margin-left: 50px;
    }
  }
}

.site-nav__link {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: $main-grey-text;
  margin-bottom: 32px;

  &.current {
    color: $accent-color;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    padding-top: 32px;
    padding-bottom: 32px;
    color: $main-grey-text;
    font-size: 14px;
    line-height: 1.14;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.header-icon {
  display: none;

  @media screen and (min-width: 768px) {
    display: inline-block;
    fill: $main-lightgrey-text;
  }
}

.header-icon__phone {
  @media screen and (min-width: 768px) {
    width: 10px;
    height: 16px;
  }
}

.header-icon__mail {
  @media screen and (min-width: 768px) {
    width: 16px;
    height: 12px;
  }
}

.header-contacts {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    height: 100%;

    & .link,
    & .link:visited {
      color: $main-lightgrey-text;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    & .link:hover,
    & .link:focus {
      color: $accent-color;
    }
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
  }
}

.header-contacts__content {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;

    &:hover .header-icon,
    &:focus .header-icon {
      fill: $accent-color;
    }
  }
}

.header-contacts__phone {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: $accent-color;
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    font-size: 12px;
    margin-bottom: 0px;
  }
}

.header-contacts__mail {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: $main-lightgrey-text;
  margin-bottom: 64px;

  @media screen and (min-width: 768px) {
    font-size: 12px;
    margin-bottom: 0px;
  }
}

// СОЦСЕТИ И ПЕРЕКЛЮЧАТЕЛЬ В МОБИЛЬНОЙ ВЕРСИИ

.header-social {
  display: none;
}

.menu-button {
  display: none;
}

@media screen and (max-width: 767px) {
  .header-social {
    display: flex;
  }

  .header-social__item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: $accent-color;
    margin-right: 20px;
  }

  .contacts-bottom {
    position: absolute;
    bottom: 150px;
  }

  // ПЕРЕКЛЮЧАТЕЛЬ

  .menu-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;

    & .icon-cross {
      display: none;
    }

    &.is-open .icon-cross {
      display: block;
    }

    &.is-open .icon-menu {
      display: none;
    }
  }
}

.header-social {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.contacts-bottom {
  @media screen and (min-width: 768px) {
    display: flex;
    padding-left: 45px;
  }
}
