$main-black-text: #000000;
$main-grey-text: #212121;
$main-lightgrey-text: #757575;
$white-text: #ffffff;
$accent-color: #2196f3;
$bcg-dark: #2f303a;
$bcg-white: #ffffff;
$bcg-lightgrey: #e5e5e5;
$bcg-grey: #f5f4fa;
$fill-grey: #afb1b8;
